#top {
    height: 75px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #004090;
    color: white;
}

#top h1 {
    height: 31px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-size: 24px;
}

#links {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

.dright:hover {
	float: right;
	border: 1px solid #0065b0;
	background-color: #0055a5;
}

.dright {
	float: right;
	background-color: #004595;
	border: 1px solid #0055a0;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: bold;
	height: 17px;
	overflow: hidden;
}

.dright input {
	font-size: 11px;
	border: None;
	border-radius: 3px;
	background-color: #eef;
}

.dright #search_q {
	color: #888;
	padding-left: 3px;
}

.dright a {
	color: white;
}

.menu:first-child {
	margin-left: 15px;
}
.menu {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	float: left;
	font-size: 11px;
}

.menu dt {
	min-width: 100px;
	height: 15px;
	border: 1px solid #0055a0;
	background-color: #004595;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 2px;
	font-weight: bold;
}

.menu a {
	color: white;
}

.menu dt:hover {
	border: 1px solid #0065b0;
	background-color: #0055a5;
}

.menu dd {
	position: absolute;
	overflow: hidden;
	min-width: 160px;
	display: none;
	background: #0055a5;
	border: 1px #0065b5 solid;
	z-index: 4;
	opacity: 0;
	padding: 0px;
	margin-top: -1px;
	margin-left: 0px;
}

.menu li {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.menu .light {
	background-color: #2365b5;
}

.menu span {
	cursor: pointer;
}
