#front {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	display: none;
	overflow: auto;
}

#grey {
	z-index: 5;
	background-color: #666;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	opacity: 0.4;
}

#overlay_box {
    color: #002070;
    background-color: #284e7e;
    padding: 0px;
    margin: 0px;
    font-family: 'verdana';
    font-size: 12px;
    z-index: 6;
    position: absolute;
    border-radius: 15px;
}

#overlay_box h3 {
    font-size: 15px;
    color: #001f46;
    text-align: center; 
    background-color: #7fb8ff;
    padding-bottom: 6px;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 6px;
    margin-top: 12px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 5px;
}

#overlay_box p {
    color: #003372;
    padding: 8px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 12px;
    margin-top: 5px;
    background-color: #e5e5e5;
}

#overlay_box th {
	color: #003372;
	font-family: verdana;
	font-size: 12px;
}

#overlay_box td {
	color: #003372;
	font-family: verdana;
	font-size: 12px;
}

#overlay_box input,textarea {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#overlay_closeb {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}
