body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
	margin-top: 20px;
}
#content {
    margin: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

table {
    font-size: 14px;
}

li {
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.course_add_but {
	background-color: #e5e5e5;
	margin-right: 5px;
	border: 1px #778 solid;
	border-radius: 3px;
	font-size: 10px;
	padding-bottom: 0px;
	padding-top: 2px;
}

/* PDF VIEWER */

.page {
    border: 1px #555 solid;
    background-color: white;
}

#pages {
    overflow: auto;
    border: 1px #ddd solid;
    background: #f5f5f5;
}

#pleft {
    width: 167px;
    height: 100%;
    float: left;
    overflow: auto;
}

#pmiddle {
    height: 100%;
    width: 2px;
    float: left;
    background: #ddd;
}

#pright {
    height: 100%;
    overflow: auto;
}

.bigpage {
	margin: 15px;
}
.pbutton {
	float: left;
	width: 24px;
	padding: 3px;
	border: 1px green solid;
}

.shadow {
	border: 1px #ccc solid;
	background-color: #eee;
	border-radius: 2px;
	padding: 2px;
	text-align: center;
}

#pseudopage {
	min-height: 165px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	border-top: 1px #96a2ff solid;
	background-color: #f5f5f5;
	background-image: url('background_doc2.png'), url('background_doc2.png'), url('background_doc1.png');
	background-position: left top, right top, center top;
	background-repeat: no-repeat, no-repeat, repeat-x;
}

.download_but {
	color: blue;
	float: left;
	margin-top: -1px;
	margin-right: 20px;
	background-color: #eeeecd;
	border: 1px #6d78c8 solid;
	border-radius: 3px;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 3px;
}

.back_but {
	color: blue;
	float: left;
	margin-top: -1px;
	margin-right: 20px;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 3px;
}

.thread_list {
	border-collapse: collapse;
}

.thread_list th {
	border-bottom: 2px #003060 solid;
}

.thread_list td {
	min-width: 100px;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	border-bottom: 1px #3070f0 solid;
	border-right: 1px #3070f0 solid;

}

.thread_list tr:last-child td {
	border-bottom: none;
}

.thread_list td:last-child {
	border-right: none;
}

.thread_list .min {
	border-right: none;
	min-width: 10px;
}

.thread_list .min2 {
	border-right: 2px #3070f0 solid;
	min-width: 10px;
}

/* ADMIN */

#tree input {
	border: none;
	background-color: #eee;
	margin: 3px;
	padding: 3px;
}

.vtop td {
	vertical-align: top;
}
