body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
	margin-top: 20px;
}

.action_link {
	color: blue;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #666;
	background-color: #e0e0ef;
	border-radius: 3px;
	box-shadow: rgba(0,0,100,0.2) 1px 1px;
	padding: 2px;
}

#content {
    padding: 20px;
    margin: 0px;
    overflow: auto;
}

a {
    color: blue;
    text-decoration: none;
}

table {
    font-size: 14px;
}

li {
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.course_add_but {
	background-color: #e5e5e5;
	margin-right: 5px;
	border: 1px #778 solid;
	border-radius: 3px;
	font-size: 10px;
	padding-bottom: 0px;
	padding-top: 2px;
}

/* PDF VIEWER */

.page {
    border: 1px #555 solid;
    background-color: white;
}

#pages {
    overflow: auto;
    border: 1px #ddd solid;
    background: #f5f5f5;
}

#pleft {
    width: 167px;
    height: 100%;
    float: left;
    overflow: auto;
}

#pmiddle {
    height: 100%;
    width: 2px;
    float: left;
    background: #ddd;
}

#pright {
    height: 100%;
    overflow: auto;
}

.bigpage {
	margin: 15px;
}

.shadow {
	border: 1px #ccc solid;
	background-color: #eee;
	border-radius: 2px;
	padding: 2px;
	text-align: center;
}

#pseudopage {
	min-height: 165px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	border-top: 1px #96a2ff solid;
	background-color: #f5f5f5;
	background-image: url('background_doc2.png'), url('background_doc2.png'), url('background_doc1.png');
	background-position: left top, right top, center top;
	background-repeat: no-repeat, no-repeat, repeat-x;
}

.download_but {
	color: blue;
	float: left;
	margin-top: -1px;
	margin-right: 20px;
	background-color: #eeeecd;
	border: 1px #6d78c8 solid;
	border-radius: 3px;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 3px;
}

.back_but {
	color: blue;
	float: left;
	margin-top: -1px;
	margin-right: 20px;
	padding-top: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 3px;
}

.thread_list {
	border-collapse: collapse;
}

.thread_list th {
	border-bottom: 2px #003060 solid;
}

.thread_list td {
	min-width: 100px;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	border-bottom: 1px #3070f0 solid;
	border-right: 1px #3070f0 solid;

}

.thread_list tr:last-child td {
	border-bottom: none;
}

.thread_list td:last-child {
	border-right: none;
}

.thread_list .min {
	border-right: none;
	min-width: 10px;
}

.thread_list .min2 {
	border-right: 2px #3070f0 solid;
	min-width: 10px;
}

.comments {
	height: 37px;
	background-image: url('/static/com-back.png');
	background-repeat: repeat-x;
	margin: 0px;
	padding-top: 8px;
}

.comments .white {
	display: inline;
	color: white;
	font-size: 16px;
	text-shadow: black 1px 1px 1px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.comment_front {
	background-color: #004fb2;
}

.cominside {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 3px;
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
	background-color: #eee;
	display: none;
}

.doc_com {
	border: 2px #96a2ff solid;
	border-radius: 4px;
	color: #0050a9;
	padding: 4px 10px 4px 10px;
	font-family: arial;
	float: center;
	margin-right: 15px;
	display: inline;
	cursor: pointer;
	background-color: #deeeff;
}

#com_content {
	border: 2px #96a2ff solid;
	border-radius: 4px;
	padding: 10px;
	margin: 20px;
	margin-left: 30%;
	margin-right: 30%;
	display: none;
}

/* Thread view */

#op_info {
	margin: 10px;
	float: left;
	min-width: 100px;
}

#outer_post {
	float: left;
	margin-left: 10px;
}

#outer_post h2 {
	margin-top: 5px;
	font-size: 16px
}

#left_post {
	float: left;
	margin-top: 0px;
	padding: 10px;
	margin-right: 0px;
	border: 1px #bbb solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 15px;
}

#right_post {
	float: left;
	margin-top: 0px;
	padding: 15px;
	border-top: 1px #bbb solid;
	border-right: 1px #bbb solid;
	border-bottom: 1px #bbb solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#right_post img {
	border: 1px #eee solid;
	margin-top: 8px;
}

.real_inner_post {
	border: 1px #bbb solid;
	border-radius: 10px;
	padding: 15px;
}

.hr_view {
	background-color: #ccc;
	border: none;
	height: 1px;
}

.forums_reply {
	padding: 15px;
	border-left: 1px #2585ff solid;
	border-radius: 10px;
	margin: 3px;
}

.forums_reply_p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.forums_reply_header {
	margin: 0px;
	font-size: 11px;
}

/* COURSE LIST */

.a_course_div {
	cursor: pointer;
	display: inline;
	border-radius: 3px;
}

.followed_course_li {
	margin-top: 7px;
	margin-bottom: 7px;
}

.followed_course_div {
	border: 1px #a1c0ff solid;
	background-color: #c3d7ff;
	padding: 1px 6px 1px 6px;
}
/* ADMIN */

#tree input {
	border: none;
	background-color: #eee;
	margin: 3px;
	padding: 3px;
}

.vtop td {
	vertical-align: top;
}
